<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
</head>
<body>
    <div>
        <h2>The Value Of Session Count is @Session["count"]</h2>
        <h2>The Value Of Application Count is @Context.Application["count"]</h2>
    </div>
</body>
</html>
